PrequalAdapter/src/main/resources/wsdl/notificationWS-v1.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://wag.btireland.ie/WAG_WS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wag.btireland.ie/WAG_WS/" targetNamespace="http://wag.btireland.ie/WAG_WS/">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://wag.btireland.ie/WAG_WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://wag.btireland.ie/WAG_WS/">
            <xsd:element name="SPQRRequest" type="tns:SPQRRequest"/>
            <xsd:element name="SPQRResponse" type="tns:SPQRRESPONSE"/>
            <xsd:complexType name="SPQRRequest">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="VERSION" type="xsd:double"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ORDER">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" name="HEADER">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="DATA_CONTRACT_NAME">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="30"/>
                                                        <xsd:enumeration value="WAG">
                                                            <xsd:annotation>
                                                                <xsd:documentation>Wholesale_Access_Gateway</xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:enumeration>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="ORIGINATOR_CODE">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="5"/>
                                                        <xsd:enumeration value="EXT"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="TRANSACTION_ID" type="tns:numbermax20"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="DATE_TIME_STAMP" type="tns:charmax19"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="1" name="ORDER_DATA">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="OPERATOR_DETAILS">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="NAME" type="tns:charmax30"/>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="CODE" type="tns:charmax5"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="ORDER_DETAILS">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="ORDER_NUMBER" type="tns:charmax32"/>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="TYPE">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:maxLength value="5"/>
                                                                    <xsd:enumeration value="SPQR">
                                                                        <xsd:annotation>
                                                                            <xsd:documentation>Super Prequalifier Query</xsd:documentation>
                                                                        </xsd:annotation>
                                                                    </xsd:enumeration>
                                                                    <xsd:enumeration value="SPQRB">
                                                                        <xsd:annotation>
                                                                            <xsd:documentation>Super Prequalifier Query</xsd:documentation>
                                                                        </xsd:annotation>
                                                                    </xsd:enumeration>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="APPLICATION_DATE" type="tns:charmax10"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="TARGET_DETAILS">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="TARGET_IDENTIFIER">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="1" minOccurs="0" name="ACCOUNT_NUMBER">
                                                                        <xsd:simpleType>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:minLength value="8"/>
                                                                                <xsd:maxLength value="12"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element maxOccurs="1" minOccurs="0" name="TELE_NO" type="tns:charmax20"/>
                                                                    <xsd:element maxOccurs="1" minOccurs="0" name="EIRCODE">
                                                                        <xsd:simpleType>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:minLength value="7"/>
                                                                                <xsd:maxLength value="8"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SPQRRESPONSE">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="VERSION" type="xsd:double"/>
                    <xsd:element name="NOTIFICATION">
                        <xsd:complexType mixed="true">
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" name="HEADER">
                                    <xsd:complexType mixed="true">
                                        <xsd:sequence>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="DATA_CONTRACT_NAME" type="tns:charmax30"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="ORIGINATOR_CODE" type="tns:charmax5"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="TRANSACTION_ID" type="tns:numbermax20"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="DATE_TIME_STAMP" type="tns:charmax19"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="NOTIFICATION_DATA">
                                    <xsd:complexType mixed="true">
                                        <xsd:sequence>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="NAME" type="tns:charmax30"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="CODE" type="tns:charmax5"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="ORDER_NUMBER" type="tns:charmax20"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="APPLICATION_DATE" type="tns:charmax10"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="RECEIVED_DATE" type="tns:charmax19"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="MESSAGE_TYPE" type="tns:charmax3"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="MESSAGE_DATE" type="tns:charmax19"/>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="OVERALL_RESPONSE" type="tns:charmax20"/>
                                            <xsd:element maxOccurs="1" minOccurs="0" name="INTERNAL_STATUS" type="xsd:string"/>
                                            <xsd:element maxOccurs="1" minOccurs="0" name="ERRORS">
                                                <xsd:complexType mixed="true">
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="ERROR_RESPONSE">
                                                            <xsd:complexType mixed="true">
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="1" minOccurs="1" name="PROVIDER" type="tns:charmax20"/>
                                                                    <xsd:element maxOccurs="1" minOccurs="1" name="REQUEST" type="tns:charmax20"/>
                                                                    <xsd:element maxOccurs="1" minOccurs="1" name="RESPONSE_CODE" type="tns:charmax20"/>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element maxOccurs="1" minOccurs="1" name="AVAILABILITY">
                                                <xsd:complexType mixed="true">
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE_IDENTIFIER">
                                                            <xsd:complexType mixed="true">
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="1" minOccurs="0" name="TELE_NO" type="tns:charmax20"/>
                                                                    <xsd:element maxOccurs="1" minOccurs="0" name="EIRCODE" type="tns:charmax8"/>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="AVAILABILITY_RESULT">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="tns:charmax60">
                                                                    <xsd:enumeration value="GREEN"/>
                                                                    <xsd:enumeration value="RED"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element maxOccurs="1" minOccurs="0" name="AVAIL_SERVICES">
                                                            <xsd:complexType mixed="true">
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="unbounded" name="AVAIL_SERVICE">
                                                                        <xsd:complexType mixed="true">
                                                                            <xsd:sequence>
                                                                                <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE_CLASS">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="tns:charmax8">
                                                                                            <xsd:enumeration value="SFTH"/>
                                                                                            <xsd:enumeration value="SFIB"/>
                                                                                            <xsd:enumeration value="SFTC"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:element>
                                                                                <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE_RESULT">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="tns:charmax60">
                                                                                            <xsd:enumeration value="GREEN"/>
                                                                                            <xsd:enumeration value="RED"/>
                                                                                            <xsd:enumeration value="LINE_UNKNOWN"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:element>
                                                                                <xsd:element maxOccurs="1" minOccurs="0" name="SERVICE_DATE" type="tns:charmax10"/>
                                                                                <xsd:element maxOccurs="1" minOccurs="0" name="SERVICE_STATUS">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="tns:charmax20">
                                                                                            <xsd:enumeration value="AVAILABLE"/>
                                                                                            <xsd:enumeration value="ACTIVE"/>
                                                                                            <xsd:enumeration value="INACTIVE"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:element>
                                                                                <xsd:element maxOccurs="1" minOccurs="0" name="THIRD_PARTY_CEASE" type="tns:charmax3"/>
                                                                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="QUALIFIED_SERVICE">
                                                                                    <xsd:complexType mixed="true">
                                                                                        <xsd:sequence>
                                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE_CODE" type="tns:charmax20"/>
                                                                                            <xsd:element maxOccurs="1" minOccurs="0" name="PROFILE_CODE" type="tns:charmax20"/>
                                                                                            <xsd:element maxOccurs="1" minOccurs="0" name="RECOMMENDED" type="tns:charmax1"/>
                                                                                            <xsd:element maxOccurs="1" minOccurs="0" name="SERVICE_DATE" type="tns:charmax10"/>
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                                <xsd:element maxOccurs="1" minOccurs="0" name="SERVICE_ATTRIBUTES" type="tns:SERVICE_ATTRIBUTES"/>
                                                                                <xsd:element name="INTERNAL_AVAIL">
                                                                                    <xsd:complexType mixed="true">
                                                                                        <xsd:sequence>
                                                                                            <xsd:element minOccurs="0" name="SIRO">
                                                                                                <xsd:complexType mixed="true">
                                                                                                    <xsd:sequence>
                                                                                                        <xsd:element name="PREMISES_ID" type="xsd:string"/>
                                                                                                    </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                            </xsd:element>
                                                                                            <xsd:element minOccurs="0" name="EIRCOM">
                                                                                                <xsd:complexType mixed="true">
                                                                                                    <xsd:sequence>
                                                                                                        <xsd:element name="FIBRE">
                                                                                                            <xsd:complexType mixed="true">
                                                                                                                <xsd:sequence>
                                                                                                                    <xsd:element name="HAS_VUA_QS" type="xsd:string"/>
                                                                                                                    <xsd:element name="HAS_BSP_QS" type="xsd:string"/>
                                                                                                                    <xsd:element name="VUA_DELIVERABLE" type="xsd:string"/>
                                                                                                                </xsd:sequence>
                                                                                                            </xsd:complexType>
                                                                                                        </xsd:element>
                                                                                                    </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                            </xsd:element>
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SERVICE_ATTRIBUTES">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="ATTRIBUTE">
                        <xsd:complexType mixed="true">
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" name="NAME" type="tns:charmax50"/>
                                <xsd:element maxOccurs="1" minOccurs="1" name="VALUE" type="tns:charmax200"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charmax1">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax10">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax19">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="19"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax20">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax200">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax3">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax30">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax32">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax5">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax50">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax60">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charmax8">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numbermax20">
                <xsd:restriction base="xsd:long">
                    <xsd:totalDigits value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SPQRResponse">
        <wsdl:part element="sch:SPQRResponse" name="SPQRResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SPQRRequest">
        <wsdl:part element="sch:SPQRRequest" name="SPQRRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="notificationResponsePort">
        <wsdl:operation name="SPQR">
            <wsdl:input message="tns:SPQRRequest" name="SPQRRequest"> </wsdl:input>
            <wsdl:output message="tns:SPQRResponse" name="SPQRResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="notificationResponsePortSoap11" type="tns:notificationResponsePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SPQR">
            <soap:operation soapAction=""/>
            <wsdl:input name="SPQRRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SPQRResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="notificationResponsePortService">
        <wsdl:port binding="tns:notificationResponsePortSoap11" name="notificationResponsePortSoap11">
            <soap:address location="http://localhost:8080/spqr/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>