PrequalAdapter/src/main/resources/notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wag.btireland.ie/WAG_WS/" targetNamespace="http://wag.btireland.ie/WAG_WS/" elementFormDefault="qualified">
   <xsd:complexType name="SPQRRequest">
      <xsd:sequence>
         <xsd:element type="xsd:double" name="VERSION" minOccurs="1" maxOccurs="1" />
         <xsd:element name="ORDER" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="HEADER" minOccurs="1" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="DATA_CONTRACT_NAME" minOccurs="1" maxOccurs="1">
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                    <xsd:enumeration value="WAG">
                                       <xsd:annotation>
                                          <xsd:documentation>Wholesale_Access_Gateway</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:enumeration>
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="ORIGINATOR_CODE" minOccurs="1" maxOccurs="1">
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="5" />
                                    <xsd:enumeration value="EXT" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="TRANSACTION_ID" minOccurs="1" maxOccurs="1" type="tns:numbermax20" />
                           <xsd:element name="DATE_TIME_STAMP" minOccurs="1" maxOccurs="1" type="tns:charmax19" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="ORDER_DATA" minOccurs="1" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="OPERATOR_DETAILS" minOccurs="1" maxOccurs="1">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="NAME" minOccurs="1" maxOccurs="1" type="tns:charmax30" />
                                    <xsd:element name="CODE" minOccurs="1" maxOccurs="1" type="tns:charmax5" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="ORDER_DETAILS" minOccurs="1" maxOccurs="1">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="ORDER_NUMBER" minOccurs="1" maxOccurs="1" type="tns:charmax32" />
                                    <xsd:element name="TYPE" minOccurs="1" maxOccurs="1">
                                       <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                             <xsd:maxLength value="5" />
                                             <xsd:enumeration value="SPQR">
                                                <xsd:annotation>
                                                   <xsd:documentation>Super Prequalifier Query</xsd:documentation>
                                                </xsd:annotation>
                                             </xsd:enumeration>
                                             <xsd:enumeration value="SPQRB">
                                                <xsd:annotation>
                                                   <xsd:documentation>Super Prequalifier Query</xsd:documentation>
                                                </xsd:annotation>
                                             </xsd:enumeration>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="APPLICATION_DATE" minOccurs="1" maxOccurs="1" type="tns:charmax10" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="TARGET_DETAILS" minOccurs="1" maxOccurs="1">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="TARGET_IDENTIFIER" minOccurs="1" maxOccurs="1">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="ACCOUNT_NUMBER" minOccurs="0" maxOccurs="1">
                                                <xsd:simpleType>
                                                   <xsd:restriction base="xsd:string">
                                                      <xsd:minLength value="8" />
                                                      <xsd:maxLength value="12" />
                                                   </xsd:restriction>
                                                </xsd:simpleType>
                                             </xsd:element>
                                             <xsd:element name="TELE_NO" minOccurs="0" maxOccurs="1" type="tns:charmax20" />
                                             <xsd:element name="EIRCODE" minOccurs="0" maxOccurs="1">
                                                <xsd:simpleType>
                                                   <xsd:restriction base="xsd:string">
                                                      <xsd:minLength value="7" />
                                                      <xsd:maxLength value="8" />
                                                   </xsd:restriction>
                                                </xsd:simpleType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SPQRRESPONSE">
      <xsd:sequence>
         <xsd:element type="xsd:double" name="VERSION" minOccurs="0" maxOccurs="1" />
         <xsd:element name="NOTIFICATION">
            <xsd:complexType mixed="true">
               <xsd:sequence>
                  <xsd:element name="HEADER" minOccurs="1" maxOccurs="1">
                     <xsd:complexType mixed="true">
                        <xsd:sequence>
                           <xsd:element name="DATA_CONTRACT_NAME" type="tns:charmax30" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="ORIGINATOR_CODE" type="tns:charmax5" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="TRANSACTION_ID" type="tns:numbermax20" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="DATE_TIME_STAMP" type="tns:charmax19" minOccurs="1" maxOccurs="1" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="NOTIFICATION_DATA">
                     <xsd:complexType mixed="true">
                        <xsd:sequence>
                           <xsd:element name="NAME" type="tns:charmax30" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="CODE" type="tns:charmax5" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="ORDER_NUMBER" type="tns:charmax20" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="APPLICATION_DATE" type="tns:charmax10" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="RECEIVED_DATE" type="tns:charmax19" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="MESSAGE_TYPE" type="tns:charmax3" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="MESSAGE_DATE" type="tns:charmax19" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="OVERALL_RESPONSE" type="tns:charmax20" minOccurs="1" maxOccurs="1" />
                           <xsd:element name="INTERNAL_STATUS" type="xsd:string" minOccurs="0" maxOccurs="1" />
                           <xsd:element name="ERRORS" minOccurs="0" maxOccurs="1">
                              <xsd:complexType mixed="true">
                                 <xsd:sequence>
                                    <xsd:element name="ERROR_RESPONSE" minOccurs="1" maxOccurs="1">
                                       <xsd:complexType mixed="true">
                                          <xsd:sequence>
                                             <xsd:element name="PROVIDER" minOccurs="1" maxOccurs="1" type="tns:charmax20" />
                                             <xsd:element name="REQUEST" minOccurs="1" maxOccurs="1" type="tns:charmax20" />
                                             <xsd:element name="RESPONSE_CODE" minOccurs="1" maxOccurs="1" type="tns:charmax20" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="AVAILABILITY" minOccurs="1" maxOccurs="1">
                              <xsd:complexType mixed="true">
                                 <xsd:sequence>
                                    <xsd:element name="SERVICE_IDENTIFIER" minOccurs="1" maxOccurs="1">
                                       <xsd:complexType mixed="true">
                                          <xsd:sequence>
                                             <xsd:element name="TELE_NO" minOccurs="0" maxOccurs="1" type="tns:charmax20" />
                                             <xsd:element name="EIRCODE" minOccurs="0" maxOccurs="1" type="tns:charmax8" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="AVAILABILITY_RESULT">
                                       <xsd:simpleType>
                                          <xsd:restriction base="tns:charmax60">
                                             <xsd:enumeration value="GREEN" />
                                             <xsd:enumeration value="RED" />
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="AVAIL_SERVICES" minOccurs="0" maxOccurs="1">
                                       <xsd:complexType mixed="true">
                                          <xsd:sequence>
                                             <xsd:element maxOccurs="unbounded" name="AVAIL_SERVICE">
                                                <xsd:complexType mixed="true">
                                                   <xsd:sequence>
                                                      <xsd:element name="SERVICE_CLASS" minOccurs="1" maxOccurs="1">
                                                         <xsd:simpleType>
                                                            <xsd:restriction base="tns:charmax8">
                                                               <xsd:enumeration value="SFTH" />
                                                               <xsd:enumeration value="SFIB" />
                                                               <xsd:enumeration value="SFTC" />
                                                            </xsd:restriction>
                                                         </xsd:simpleType>
                                                      </xsd:element>
                                                      <xsd:element name="SERVICE_RESULT" minOccurs="1" maxOccurs="1">
                                                         <xsd:simpleType>
                                                            <xsd:restriction base="tns:charmax60">
                                                               <xsd:enumeration value="GREEN" />
                                                               <xsd:enumeration value="RED" />
                                                               <xsd:enumeration value="LINE_UNKNOWN" />
                                                            </xsd:restriction>
                                                         </xsd:simpleType>
                                                      </xsd:element>
                                                      <xsd:element name="SERVICE_DATE" minOccurs="0" maxOccurs="1" type="tns:charmax10" />
                                                      <xsd:element name="SERVICE_STATUS" minOccurs="0" maxOccurs="1">
                                                         <xsd:simpleType>
                                                            <xsd:restriction base="tns:charmax20">
                                                               <xsd:enumeration value="AVAILABLE" />
                                                               <xsd:enumeration value="ACTIVE" />
                                                               <xsd:enumeration value="INACTIVE" />
                                                            </xsd:restriction>
                                                         </xsd:simpleType>
                                                      </xsd:element>
                                                      <xsd:element name="THIRD_PARTY_CEASE" minOccurs="0" maxOccurs="1" type="tns:charmax3" />
                                                      <xsd:element name="QUALIFIED_SERVICE" minOccurs="1" maxOccurs="unbounded">
                                                         <xsd:complexType mixed="true">
                                                            <xsd:sequence>
                                                               <xsd:element name="SERVICE_CODE" minOccurs="1" maxOccurs="1" type="tns:charmax20" />
                                                               <xsd:element name="PROFILE_CODE" minOccurs="0" maxOccurs="1" type="tns:charmax20" />
                                                               <xsd:element name="RECOMMENDED" minOccurs="0" maxOccurs="1" type="tns:charmax1" />
                                                               <xsd:element name="SERVICE_DATE" minOccurs="0" maxOccurs="1" type="tns:charmax10" />
                                                            </xsd:sequence>
                                                         </xsd:complexType>
                                                      </xsd:element>
                                                      <xsd:element name="SERVICE_ATTRIBUTES" minOccurs="0" maxOccurs="1" type="tns:SERVICE_ATTRIBUTES" />
                                                      <xsd:element name="INTERNAL_AVAIL">
                                                         <xsd:complexType mixed="true">
                                                            <xsd:sequence>
                                                               <xsd:element minOccurs="0" name="SIRO">
                                                                  <xsd:complexType mixed="true">
                                                                     <xsd:sequence>
                                                                        <xsd:element name="PREMISES_ID" type="xsd:string" />
                                                                     </xsd:sequence>
                                                                  </xsd:complexType>
                                                               </xsd:element>
                                                               <xsd:element minOccurs="0" name="EIRCOM">
                                                                  <xsd:complexType mixed="true">
                                                                     <xsd:sequence>
                                                                        <xsd:element name="FIBRE">
                                                                           <xsd:complexType mixed="true">
                                                                              <xsd:sequence>
                                                                                 <xsd:element name="HAS_VUA_QS" type="xsd:string" />
                                                                                 <xsd:element name="HAS_BSP_QS" type="xsd:string" />
                                                                                 <xsd:element name="VUA_DELIVERABLE" type="xsd:string" />
                                                                              </xsd:sequence>
                                                                           </xsd:complexType>
                                                                        </xsd:element>
                                                                     </xsd:sequence>
                                                                  </xsd:complexType>
                                                               </xsd:element>
                                                            </xsd:sequence>
                                                         </xsd:complexType>
                                                      </xsd:element>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>                           
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SERVICE_ATTRIBUTES">
      <xsd:sequence>
         <xsd:element minOccurs="1" maxOccurs="unbounded" name="ATTRIBUTE">
            <xsd:complexType mixed="true">
               <xsd:sequence>
                  <xsd:element name="NAME" minOccurs="1" maxOccurs="1" type="tns:charmax50" />
                  <xsd:element name="VALUE" minOccurs="1" maxOccurs="1" type="tns:charmax200" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="charmax1">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="1" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax10">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="10" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax19">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="19" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax20">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="20" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax200">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="200" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax3">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="3" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax30">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="30" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax32">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="32" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax5">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="5" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax50">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="50" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax60">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="60" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="charmax8">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1" />
         <xsd:maxLength value="8" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numbermax20">
      <xsd:restriction base="xsd:long">
         <xsd:totalDigits value="20" />
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>